<section class="gallery" aria-label="Album covers">
  {% assign albums = site.data.albums %}
  {% for a in albums %}
    <!-- <a class="album{% if forloop.index0 == 1 %} wide{% elsif forloop.index0 == 2 %} tall{% elsif forloop.index0 == 3 %} big{% endif %}" -->
    <a class="album"
       href="{{ a.link | escape }}" aria-label="Listen: {{ a.title | escape }}">
      <figure class="art">
        <img loading="lazy" src="{{ a.cover | relative_url }}" alt="{{ a.title | escape }}" />
        <figcaption class="title">{{ a.title }}</figcaption>
      </figure>
    </a>
  {% endfor %}
</section>
